
.wrapper{
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    
    grid-gap: 1em;
    grid-template-areas: 
        'hi hi'
        'about footage'
        'photos resume'
        'contact contact'
        
        
        
     ;
}
.hi{
    grid-area: hi;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    
}

.about{
    grid-area: about;
    
}
.footage{
    grid-area: footage;
}
.photos{
    grid-area: photos;
}
.resume{
    grid-area: resume;
}
.contact{
    grid-area: contact;
}

.wrapper > div{
    
    padding: 1em;
}



@media only screen and (max-width: 800px){
    html{
        scroll-behavior: smooth;
    }
    #image {
        
    border-radius: 50%;
  width: 200px;
  height: 200px;
}
    
    .wrapper{
        width: 100%;
    display: grid;
  grid-gap: 0.5em;
    grid-template-columns: 1fr;
    grid-template-areas: 
        
        'hi'
        'about'
        'footage'
        'photos'
        'resume'
        'contact'
     ;
}
    .hi{
    grid-area: hi;
    display: grid;
    grid-template-columns: 1fr;
        
        
   
    
}

.wrapper > div{
  
    padding: 1em;
    align-content: center;
    text-align: center;
    display: grid;
    width: 100%;
    height: auto;
}


   
   
    * {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 300vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  background: #131313;
  font-family: "Helvetica Neue", sans-serif;
}



.popover {
  display: none;
  box-shadow: 0px 6px 8px rgba(19, 19, 19, 0.7);
}

.popover:target {
  position:fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popover .content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 0;
  height: 0;
  color: #fff;
  background-color: #191919;
  animation: 1s grow ease forwards;
  text-align: center;
}

.nav_list {
  list-style-type: none;
}

.nav_list a {
  text-decoration: none;
  font-size: 50px;
  color: #fff;
}

.nav_list_item {
  height: 100%;
  overflow: hidden;
}

.nav_list li {
  padding: 15px 0;
  text-transform: uppercase;
  transform: translateY(200px);
  opacity: 0;
  animation: 2s slideUp ease forwards 0.5s;
  position: relative;
}

.nav_list li::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0px;
  left: 0;
  bottom: 10px;
  background: #bf2e97;
  transition: all 0.5s ease;
}

.nav_list li:hover:before {
  width: 100%;
}

.popover p {
  padding: 50px;
  opacity: 0;
  animation: 1s fadeIn ease forwards 1s;
}

.popover .close::after {
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  display: flex;
  z-index: 1;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  background-color: #bf2e97;
  color: #fff;
  content: "×";
  cursor: pointer;
  opacity: 0;
  animation: 1s fadeIn ease forwards 0.5s;
}

@keyframes grow {
  100% {
    height: 90%;
    width: 90%;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

    
    

}








    
@media only screen and (min-width: 768px) {
    #menu{
        display: none;
    }
   
}

@media only screen and (max-width: 768px) {
  
 

  #menuIcon {
    
    cursor: pointer;
    right: 1%;
    top: 3%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
    #scrollTop{
    cursor: pointer;
    right: 1%;
    top: 95%;
    z-index: 2;
    }
    
    #photos {
  max-width: 100%;
  max-height: 100%;
}
    #videos {
  max-width: 100%;
  height: auto;
}
 
    
    
    #imageResume{
        max-width: 100%;
  max-height: 100%;
    }
    
    
    hr{
        border: 1px solid lightblue;
    }  
    
}
