/*----------------------------------------*/
/* Desktop Version */
.wrapper{
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    
    grid-gap: 1em;
    grid-template-areas: 
        'hi hi'
        'about footage'
        'photos resume'
        'contact contact'
        
        
        
     ;
}
.hi{
    grid-area: hi;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    
}

.about{
    grid-area: about;
    
}
.footage{
    grid-area: footage;
}
.photos{
    grid-area: photos;
}
.resume{
    grid-area: resume;
}
.contact{
    grid-area: contact;
}


.wrapper > div{
    
    padding: 0.5em;
    box-shadow: rgba(50, 50, 93, 0.25) 1px -50px 100px -20px, rgba(0, 0, 0, 0.3) 1px -30px 60px -30px, rgba(10, 37, 64, 0.35) 1px -2px 6px 0px inset;
    box-sizing:border-box;
    
    align-content: center;
    text-align: center;
    display: grid;
    width: 100%;
    height: auto;
    background-color:bisque;
}
/* Desktop Version */
/*--------------------------------------------------*/

/*--------------------------------------------------*/
/*Mobile/Ipad Version*/ 

@media only screen and (max-width: 1000px){ 
    html{
        scroll-behavior: smooth;
    }
  
    #image {
        
    border-radius: 50%;
  width: 244px;
  height: 244px;
}
    
    .wrapper{
        
        width: 100%;
    display: grid;
  grid-gap: 0.5em;
    grid-template-columns: 1fr;
    grid-template-areas: 
        
        'hi'
        'about'
        'footage'
        'photos'
        'resume'
        'contact'
        
     ;
}
    .hi{
       
    grid-area: hi;
    display: grid;
    grid-template-columns: 1fr;
        grid-template-areas: 
            'grid2'
            'grid1'
        
        ;
   
    
}
   
    

.wrapper > div{
 box-shadow: rgba(50, 50, 93, 0.25) 1px -50px 100px -20px, rgba(0, 0, 0, 0.3) 1px -30px 60px -30px, rgba(10, 37, 64, 0.35) 1px -2px 6px 0px inset;
    box-sizing:border-box;
    
    align-content: center;
    text-align: center;
    display: grid;
    width: 100%;
    height: auto;
    background-color:bisque;
   
    }
   
    .wrapper{
padding-top: 2%;  
padding-left: 1.5%;
  padding-right: 1.5%;
        

    }


    p{
        
        font-size: 30px;
        font-family:Brush Script MT, Brush Script Std, cursive;
    }
  
        
    
    #footer{
    position:static;
    color: white;
    background: #444444;
    height: auto;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    
    }
    #copyRight{
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
    }
  
/*Menu starts here*/

    .container {
  min-height: 380vh;
  display: contents;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  background: #131313;
  font-family: "Helvetica Neue", sans-serif;
        
}



.popover {
  display: none;
  box-shadow: 0px 6px 8px rgba(19, 19, 19, 0.7);
}

.popover:target {
  position:fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popover .content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 0;
  height: 0;
  color: #fff;
  background-color: #191919;
  animation: 0.75s grow ease forwards;
  text-align: center;
}

.nav_list {
  list-style-type: none;
}

.nav_list a {
  text-decoration: none;
  font-size: 50px;
  color: #fff;
}

.nav_list_item {
  height: 100%;
  overflow: hidden;
}

.nav_list li {
  padding: 20px 0;
display:flex;
  text-transform: uppercase;
  transform: translateY(200px);
  opacity: 0;
  animation: 1s slideUp ease forwards 0.5s;
  align-items: center;
    position: relative;
    
}

.nav_list li::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0px;
  left: 0;
  bottom: 10px;
  background: #bf2e97;
  transition: all 0.5s ease;
}

.nav_list li:hover:before {
  width: 100%;
}

.popover p {
  padding: 50px;
  opacity: 0;
  animation: 1s fadeIn ease forwards 1s;
}

.popover .close::after {
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  display: flex;
  z-index: 1;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  background-color: #bf2e97;
  color: #fff;
  content: "×";
  cursor: pointer;
  opacity: 0;
  animation: 1s fadeIn ease forwards 0.5s;
}

@keyframes grow {
  100% {
    height: 90%;
    width: 90%;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* menu ends here*/
    
    

}








    
@media only screen and (min-width: 1000px) {
    #menu{
        display: none;
    }
   
}

@media only screen and (max-width: 1000px) {
  
    

  #menuIcon {
    
    cursor: pointer;
    right: 1%;
    top: 3%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
    #scrollTop{
    cursor: pointer;
    right: 1%;
    top: 95%;
    z-index: 2;
    }
    
    #photos {
  max-width: 100%;
  max-height: 200%;
}
    #videos {
width: 100 %; 
max-width: 100%;
  height: auto;
        max-height: 100%;
}
 
    
    
    #imageResume{
        max-width: 100%;
  max-height: 100%;
    }
    
    
    hr{
        border: 1px double lightblue;
    }  
    
    
    
    /* Contact me form Starts here */
    
    
    .form {

        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: 100%;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  
}
#contactTitle {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #78788c;
  border-bottom: 3px solid #78788c;
}
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}
input:focus {
  border-bottom: 2px solid #78788c;
}
p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}
button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background: #78788c;
  color: #fff;
}

    #contactMsgBox{
        vertical-align: middle;
        height: 90%;
    }

    /* instagram logo*/
    
    @logo-size: 10%;
    
    #instagramLogo {
    @REFERENCE_LOGO_SIZE: 269px;
    @REFERENCE_LOGO_BORDER_WIDTH: 17px;
    @LOGO_SCALING_RATIO: @logo-size / @REFERENCE_LOGO_SIZE;
    @LOGO_BORDER_WIDTH: @REFERENCE_LOGO_BORDER_WIDTH * @LOGO_SCALING_RATIO;
    
    position: relative;
    width: @logo-size;
    height: @logo-size;
    overflow: hidden;
    background: linear-gradient(145deg, #3051F1 10%, #C92BB7 70%) no-repeat;
    border-radius: 62px * @LOGO_SCALING_RATIO;
    box-shadow: 0px (2px * @LOGO_SCALING_RATIO) (9px * @LOGO_SCALING_RATIO) rgba(0,0,0,0.25);

    
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        content: '';
        background: radial-gradient(circle farthest-corner at 28% 100% ,
            #FCDF8F 0%, 
            #FBD377 10%,
            #FA8E37 22%,
            #F73344 35%,
            fade(#F73344, 0%) 65%
        ) no-repeat;
    }
    
    &, * {
        box-sizing: border-box;
    }
    
    * {
        position: absolute;
        display: block;
    }
    
  
   



    
}
}
/*Mobile/Ipad Version*/
/*-------------------------------------------------------------*/
