
    :root{
	--mainColor:#eaeaea;
	--secondaryColor:#fff;

	--borderColor:#c1c1c1;

	--mainText:black;
	--secondaryText:#4b5156;

	--themeDotBorder:#24292e;

	--previewBg:rgb(251, 249, 243, 0.8);
	--previewShadow:#f0ead6;


	--buttonColor:black;
    --darkgrey : #212329;
    --brightred : #f9423d;
        --white : #fff;
    --lightred: #f9433dcc;
}

@keyframes grow {
  100% {
    height: 90%;
    width: 90%;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}    
    
    .dots-wrapper{
        
	display: flex;
	padding: 10px;
}

#dot-1{
    
	background-color:  #FC6058;
}

#dot-2{
	background-color:  #FEC02F;
}

#dot-3{
	background-color:  #2ACA3E;
}

.browser-dot{
    
	background-color: white;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

}
    #theme-options-wrapper{
    animation: 1.25s slideUp ease forwards 0.5s;
	display: flex;
	justify-content: center;
        transform: translateX(760px);
       
}

.theme-dot{
    animation: 8s fadeIn ease forwards 0s;
	height: 30px;
	width: 30px;
	background-color: white;
	border-radius: 50%;

	margin: 5px;
	border:2px solid var(--themeDotBorder);

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	cursor: pointer;
}


.theme-dot:hover{
	border-width: 5px;
}


#light-mode{
	background-color: #fff;
}

#blue-mode{
	background-color: #192734;
}

#green-mode{
	background-color: #78866b;
}

#purple-mode{
	background-color: purple;
}

    #preview-shadow{
	background-color: var(--previewShadow);
	max-width: 300px;
	height: 180px;
	padding-left: 30px;
	padding-top: 30px;
}

#preview{
	width: 300px;
	border:1.5px solid #17a2b8;
	background-color: var(--previewBg);
	padding:15px;
	position: relative;
}
    
    /*Theme config ends here*/
